*{
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
    font-family: Helvetica, sans-serif;
    background: #ecf0f1;
}

h1,p{
    padding: 10px 20px;
}

.gitter-open-chat-button{
    background-color: #27ae60;
}

.gitter-open-chat-button:hover{
    background-color: #0C9044;
}

#headlink{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    font-size: 200%;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #27ae60;
    -webkit-transition: 0.3s background-color;
    -moz-transition: 0.3s background-color;
    -ms-transition: 0.3s background-color;
    -o-transition: 0.3s background-color;
    transition: 0.3s background-color;
}

#mc-embedded-subscribe{
    background-color: #27ae60 !important;
    color: black !important;
}

#headlink:hover{
    background-color: #0C9044;
}

#betalink{
    color: white;
}

.mobile{
    display: none !important;
}

.largeFont{
    font-size: 200% !important;
}

.mediumFont{
    font-size: 150% !important;
}

.normalFont{
    font-size: 150% !important;
}

.right{
    float: right;
}

.left{
    float: left;
}

.table{
    display: table;
    width: 100%;
}

.cell{
    display: table-cell;
    vertical-align: middle;
}

.backshade{
    background: rgba(0,0,0,0.2);
}

.wrapper960{
    max-width: 960px;
    margin: 10px auto;
}

.centerWrapper{
    display: table;
    width: 100%;
    height: 100%;
}

.center{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.clear::after{
    content: "";
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

.serif{
    font-family: Georgia, serif;
    font-style: italic;
    margin-right: 30px;
}

.textShadow{
    text-shadow: 1px 1px 1px #000;
}

.textShadow2{
    text-shadow: 0px 1px 2px rgba(0,0,0,0.6),
                 0px -1px 2px rgba(255,255,255,0.6);
}

.tiles{
    padding: 20px;
    width: 100%;
    max-width: 960px;
    margin: 20px auto;
}

.tiles .icon{
    width: 200px;
    height: 200px;
}

.tiles .text{
    padding: 20px 40px;
}

.tiles .text>h1{
    font-size: 200%;
}

.tiles .text .serif{
    font-size: 120%;
}

.tiles .bubble{
    background: #2ecc71;
    padding: 30px 20px;
    border-radius: 5px;
}

.tiles:nth-child(1) .icon{
    background: url(../images/write.png) no-repeat;
}

.tiles:nth-child(1) .bubble{
    background: #3498db;
}

.tiles:nth-child(2) .icon{
    background: url(../images/analyze.png) no-repeat;
}

.tiles:nth-child(2) .bubble{
    background: #27ae60;
}

.tiles:nth-child(3) .icon{
    background: url(../images/repeat.png) no-repeat;
}

.tiles:nth-child(3) .bubble{
    background: #e74c3c;
}

.tiles:nth-child(4) .icon{
    background: url(../images/demo.png) no-repeat;
}

.tiles:nth-child(4) .bubble{
    background: #f1c40f;
}

section.block{
    float: left;
    width: 100%;
    min-height: 500px;
}

section.block.image{
    height: 100%;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    background-size: cover !important;
}

section.block.padding{
    padding: 40px 20px;
}

section#home{
    background: url(../images/home.jpg);

    -webkit-box-shadow: inset 0px -60px 26px -55px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -60px 26px -55px rgba(0,0,0,0.75);
    -ms-box-shadow: inset 0px -60px 26px -55px rgba(0,0,0,0.75);
    -o-box-shadow: inset 0px -60px 26px -55px rgba(0,0,0,0.75);
    box-shadow: inset 0px -60px 26px -55px rgba(0,0,0,0.75);

    color: #fff;
}

section#home h1{
    padding: 20px;
    font-size: 280%;
    text-shadow: 0 5px 5px #000;
}

section#try{
    background: url(../images/subscribe.jpg);
    text-align: center;

    -webkit-box-shadow: inset 0px 70px 40px -65px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 70px 40px -65px rgba(0,0,0,0.75);
    -ms-box-shadow: inset 0px 70px 40px -65px rgba(0,0,0,0.75);
    -o-box-shadow: inset 0px 70px 40px -65px rgba(0,0,0,0.75);
    box-shadow: inset 0px 70px 40px -65px rgba(0,0,0,0.75);
}

section#try h1{
    color: #ecf0f1;
    font-size: 220%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

section#try {
    color: #ecf0f1;
}


@media screen and (max-width: 768px) {
    .table{
        display: block;
        text-align: center;
    }

    .cell{
        display: inline;
        display: inline-block;
        text-align: left;
    }

    .mobile{
        display: inline !important;
        display: inline-block !important;
    }

    .notmobile{
        display: none !important;
    }

    .tiles .text{
        padding: 10px;
    }

    .tiles .bubble{
        padding: 10px;
    }
}

@media screen and (min-width: 1152px) and (max-width: 1620px){
    section#home{
        background: url(../images/home-l.jpg);
    }

    section#try{
        background: url(../images/subscribe-l.jpg);
    }
}

@media screen and (min-width: 1620px) and (max-width: 2048px){
    section#home{
        background: url(../images/home-xl.jpg);
    }

    section#try{
        background: url(../images/subscribe-xl.jpg);
    }
}

@media screen and (min-width: 2048px){
    section#home{
        background: url(../images/home-xxl.jpg);
    }

    section#try{
        background: url(../images/subscribe-xxl.jpg);
    }
}
