<!DOCTYPE html>
<html dir="ltr">
<head>
    <title>{{message.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="./css/landing.css">
</head>
<body>
    <section id="home" class="block image">
        <div class="centerWrapper">
            <div class="center backshade">
                <h1>Automate your Development Workflow</h1>
                <h3>GitMate supports you developing your application. From
                  automatic code review to issue labelling and assignment.</h3>
                <br/>
                <a href="https://app.gitmate.io/" id="headlink">
                    Get your GitMate!
                </a><br/>
                <br>
                Want to get notified when we have something stable ready?
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
<form action="//gitmate.us12.list-manage.com/subscribe/post?u=3baf90828c2679048cc403ffc&amp;id=c190ce6753" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3baf90828c2679048cc403ffc_c190ce6753" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->
            </div>
        </div>
    </section>

    <section id="service" class="block padding">
        <div class="tiles clear table">
            <div class="cell"><div class="icon"></div></div>
            <div class="text cell">
                <div class="bubble textShadow2">
                    <h1 class="largeFont">A Friend to Review your Code</h1>
                    <p class="serif">
                        GitMate reviews your code as you write it. It will
                        behave just like any other reviewer. You don't
                        need to change your workflow at all.
                    </p>
                </div>
            </div>
        </div>
        <div class="tiles clear table">
            <div class="cell mobile"><div class="icon"></div></div>
            <div class="text cell">
                <div class="bubble textShadow2">
                    <h1 class="largeFont">Bugs Be Triaged</h1>
                    <p class="serif">
                        GitMate will categorize and assign bugs all by itself.
                        No worries: even if it misjudges a bug, you can simply
                        relabel it.
                    </p>
                </div>
            </div>
            <div class="cell notmobile"><div class="icon"></div></div>
        </div>
        <div class="tiles clear table">
            <div class="cell"><div class="icon"></div></div>
            <div class="text cell">
                <div class="bubble textShadow2">
                    <h1 class="largeFont">Eat. Sleep. Code. Repeat!</h1>
                    <p class="serif">
                        Once you start using GitMate, you won't have to worry
                        about it again. In many cases, you can let
                        <code>coala</code> fix code analysis issues
                        automatically in your command line.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="try" class="block image">
        <div class="centerWrapper">
            <div class="center backshade textShadow2">
                <h1>Eager to try?</h1><br/>
                <a href="https://app.gitmate.io/" id="headlink">
                    Get your GitMate!
                </a><br/><br/>
                <a href="http://test.gitmate.io/" id="betalink">
                    Or try out upcoming features right now!
                </a>
                <h1>Further Questions?</h1>
                Just click the "Open Chat" button in the lower right!
            </div>
        </div>
    </section>

    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'GitMateIO/support'
      };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-70401698-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
